%h1 VOTE ABOUT THE... WHAT???

%p
  This site was built as part of the <a href="http://barcampboston.org">BarCamp Boston 4</a> <a href="http://wiki.barcampboston.org/index.php?title=2009_Programming_Contest">Programming Contest</a> by <a href="http://technicalpickles.com">Josh Nichols</a>.

%p
  For the contest, you are given 10 terms, and you must choose 5 of them. They were pretty random. And I got to wondering, which of these terms is more random? And thus, VOTE ON THE RANDOM was born.

%p
  Built with <a href="http://rubyonrails.org">Rails</a> and deployed to <a href="http://heroku.com">Heroku</a>. Source is available on <a href="http://github.com/technicalpickles/voteontherandom">GitHub</a>.
